<% layout 'base', page_class: 'page--home' do %>
  <h1>Welcome to Our Website</h1>

  <%= inline_svg 'icon', class_name: 'site-logo' %>

  <%= content %>

  <% yield_content :footer do %>
    This is the footer content.
  <% end %>

  <% yield_content :main do %>
    This is the main container content.
  <% end %>
<% end %>
