@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: italic;
}

:root {
  --fonts-primary: 'Karla', sans-serif;
  --fonts-code: 'Fira Code', monospace;
  --colors-background: #f4f4f4;
  --colors-text-primary: #11181c;
  --colors-text-secondary: #687076;
}

body {
  background-color: var(--colors-background);
  font-family: var(--fonts-primary);
  margin: 0;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  a {
    font-weight: 600;
    color: var(--colors-text-primary);
  }
}

.page {
  width: 100%;
  max-width: 740px;
  margin: 65px auto;
  padding: 0 65px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page--home {
  .header {
    .header__content {
      max-width: 450px;

      p {
        color: var(--colors-text-secondary);
      }
    }

    .header__image {
      border-radius: 100%;
      width: 150px;
      height: auto;
    }
  }

  .posts-list {
    margin-top: 65px;

    .post-item {
      text-decoration: none;

      .post-item__title {
        margin: 0 0 5px 0;
      }

      .post-item__summary {
        color: var(--colors-text-secondary);
        font-weight: 500;
        margin: 0 0 15px 0;
      }

      .post-item__date {
        color: var(--colors-text-secondary);
        font-weight: 300;
        margin: 0 0 45px 0;
      }
    }
  }
}

.page--post {
  .header {
    .header__content {
      .header__backlink {
        display: inline-block;
        margin-bottom: 10px;
        font-weight: 500;
        text-decoration: none;
        color: var(--colors-text-secondary);
      }

      .header__title {
        margin: 0 0 5px 0;
      }

      .header__summary {
        color: var(--colors-text-secondary);
      }

      .header__date {
        color: var(--colors-text-secondary);
        font-weight: 300;
        margin: 0 0 15px 0;
      }
    }
  }

  .post-content {
    color: var(--colors-text-primary);
    line-height: 1.6;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 600;
      line-height: 1.2;
    }

    p {
      margin: 0 0 15px 0;
    }

    a {
      text-decoration: underline;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    pre {
      padding: 15px;
      overflow-x: auto;
      border-radius: 4px;
    }

    code {
      background-color: #2b303b;
      color: #c0c5ce;
      padding: 2px 4px;
      border-radius: 4px;
      font-family: var(--fonts-code);
    }

    blockquote {
      border-left: 4px solid var(--colors-text-secondary);
      padding-left: 15px;
      color: var(--colors-text-secondary);
      margin: 0 0 15px 0;
    }

    ul, ol {
      margin: 0 0 15px 20px;
    }
  }
}
