:root {
  --fonts-primary: sans-serif;
  --colors-background: #f4f4f4;
  --colors-text-primary: #11181c;
  --colors-text-secondary: #687076;
}

body {
  background-color: var(--colors-background);
  font-family: var(--fonts-primary);
  margin: 0;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  a {
    font-weight: 600;
    color: var(--colors-text-primary);
  }
}

.page {
  width: 100%;
  max-width: 740px;
  margin: 65px auto;
  padding: 0 65px;
}

.page--home {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__content {
      max-width: 450px;

      p {
        color: var(--colors-text-secondary);
      }
    }

    .header__image {
      border-radius: 100%;
      width: 150px;
      height: auto;
    }
  }

  .posts-list {
    margin-top: 65px;

    .post-item {
      text-decoration: none;

      .post-item__title {
        margin: 0 0 5px 0;
      }

      .post-item__summary {
        color: var(--colors-text-secondary);
        font-weight: 500;
        margin: 0 0 15px 0;
      }

      .post-item__date {
        color: var(--colors-text-secondary);
        font-weight: 300;
        margin: 0 0 45px 0;
      }
    }
  }
}
