<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= meta[:title] %></title>
    <link href="/assets/styles.css" rel="stylesheet">
  </head>
  <body class="page <%= page_class %>">
    <div class="main-content">
      <%= yield_content :main %>
    </div>

    <%= yield_content %>
  </body>
</html>
