<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=  meta[:title] %></title>
    <link href="assets/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="container__header">
        <div class="container__header__content">
          <%= content %>

          <div class="container__header__social">
            <a href="<%= meta[:github_url] %>" target="_blank">
              GitHub
            </a>
          </div>
        </div>
        <img class="container__header__image" src="<%= meta[:image_url] %>" alt="Juanra">
      </div>
    </div>
  </body>
</html>
